/Aula02/Exercicios/build/
/Aula03/Exercicios/nbproject/private/
/Aula03/Exercicios/build/
/Aula04/Exercicios/nbproject/private/
/Aula04/Exercicios/build/
/Aula05/Exercicios/nbproject/private/
/Aula05/Exercicios/build/
/Aula01/Exemplo/nbproject/private/
/Aula03/Exemplo/nbproject/private/
/Aula04/Exemplo/nbproject/private/
/Aula07/Exemplo/nbproject/private/
/Aula12/ExemplosArray/nbproject/private/
/Aula12/ExemplosArray/build/